@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>TEST</h1>

</div>

<div class="row">
    <div class="col-md-4">
        <p>test1</p>
        <p><a class="btn btn-default" href="https://www.youtube.com/watch?v=LzPplBE75tQ&list=RDLzPplBE75tQ&start_radio=1">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>
            tH/h2>
            <p>test2</p>
            <p><a class="btn btn-default" href="https://www.youtube.com/watch?v=LzPplBE75tQ&list=RDLzPplBE75tQ&start_radio=1">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>
            tH/h2>
            <p>test2</p>
            <p><a class="btn btn-default" href="https://www.youtube.com/watch?v=LzPplBE75tQ&list=RDLzPplBE75tQ&start_radio=1">Learn more &raquo;</a></p>
    </div>
</div>